<section class="mb-20 ">
    <div class="relatives overflow-hidden z-0 top-0 bg-cover bg-no-repeat bg-center"
      style="background-image:linear-gradient(to top, rgba(236, 253, 245, .30), rgba(6, 78, 59,.90)), url('https://images.unsplash.com/photo-1698700654311-8b8b2b05e227?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY5ODcyNTUxNg&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080'); height: 800px;">
    <!--Main nav -->
    <app-top-nav></app-top-nav>
    <!--End of Nav-->
      <div class=" flex-2 flex items-center pt-56">
        <div class="text-center mx-auto">
          <h1 class="text-5xl font-semibold md:text-3xl xl:text-6xl text-white">A Shift in Extension Services</h1>
          <p class="font-bold text-yellow-400 text-3xl mt-5">in Papua New Guinea</p>
          <div class="px-5 mx-16 py-4 flex flex-row justify-center inline-block text-xl  font-bold  text-gray-100  rounded-2xl transition-colors mt-10"
           > <span class="pt-1 text-xl">Connect with Us</span>
            </div>
            <div class=" ml-3 flex justify-center ">
                <a href="https://www.facebook.com/FARMISOfficial" target="_blank" class="mr-9 text-blue-600 rounded-full p-3 bg-yellow-400">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-emerald-600 hover:text-blue-600" fill="currentColor"
                    viewBox="0 0 24 24">
                    <path
                      d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z" />
                  </svg>
                </a>
                <a href="https://www.linkedin.com/showcase/farmisofficial/about/" target="_blank" class="mr-9 text-blue-600 rounded-full p-3 bg-yellow-400">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-emerald-600 hover:text-blue-500" fill="currentColor"
                    viewBox="0 0 24 24">
                    <path
                      d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z" />
                  </svg>
                </a>
                <a href="https://www.youtube.com/@farmisofficial" target="_blank"class="mr-9 text-red-600 rounded-full p-3 bg-yellow-400">
                  <svg xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5 icon icon-tabler icon-tabler-brand-youtube-filled text-emerald-600 hover:text-red-500" width="24"
                    height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path
                      d="M18 3a5 5 0 0 1 5 5v8a5 5 0 0 1 -5 5h-12a5 5 0 0 1 -5 -5v-8a5 5 0 0 1 5 -5zm-9 6v6a1 1 0 0 0 1.514 .857l5 -3a1 1 0 0 0 0 -1.714l-5 -3a1 1 0 0 0 -1.514 .857z"
                      stroke-width="0" fill="currentColor" />
                  </svg>
                </a>
          
            </div>
        </div>
    </div>
    </div>
  </section>
  <!-- Section: Design Block -->
  <section id="features" class="relative pt-10 ">
    <div class="mx-auto px-4 sm:max-w-2xl lg:max-w-5xl xl:max-w-7xl md:max-w-3xl lg:px-6">
    <p class="font-normal text-lg text-center text-gray-500 tracking-normal mb-10">Supporting small-scale farmers and agri-retailers in Papua New Guinea. Using AI technology, data analytics, and scientific research, our goal is to provide the right solutions, promote sustainable practices and enhance farming productivity.
    </p>
    </div>
  </section>
  <section class="py-5">
    <div class="px-4 mx-auto sm:max-w-2xl lg:max-w-5xl xl:max-w-7xl md:max-w-3xl lg:px-6 bg-emerald-50 rounded-xl">
      <div class="flex items-center flex-wrap mb-20 mt-14 -mx-8">
        <div class="w-full lg:w-1/2 p-8">
          <img class="rounded-xl w-full" src="https://images.unsplash.com/photo-1698700654169-5b5f81eca0cd?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY5ODcyNDQxNA&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080" alt="">
        </div>
        <div class="w-full lg:w-1/2 p-8 ">
          <h1 class="text-2xl lg:text-4xl font-bold font-heading mb-6 max-w-md lg:max-w-2xl text-gray-400">Empowering <span class="text-emerald-500">small-scale farmers</span></h1>
          <p class="text-gray-600 text-lg ">Alleviate difficulties faced by small scale farmers to enable them to produce and supply food. We understand how important they are in producing food for the world and the difficulties they face. Limited access to resources, technology, and information can make it hard for them to improve their farming. That's why we build Plantix, a free app that gives farmers access to information, technology, and farming tips.</p>
        </div>
      </div>
    </div>
  </section>
  <section id="features" class="relative ">
    <div class="px-4 mx-auto sm:max-w-2xl lg:max-w-5xl xl:max-w-7xl md:max-w-3xl lg:px-6">
    <h1 class="text-2xl lg:text-4xl text-center font-bold text-gray-400 font-heading mb-6 ">Supporting<span class="text-emerald-500"> sustainable & profitable farming</span> </h1>
    <p class="font-normal text-lg text-center text-gray-500 tracking-normal mb-10">Supporting small-scale farmers and agri-retailers in Papua New Guinea. Using AI technology, data analytics, and scientific research, our goal is to provide the right solutions, promote sustainable practices and enhance farming productivity.
    </p>
    </div>
  </section>

  <section id="features" class="relative pt-10 ">
    <div class="px-4 mx-auto sm:max-w-2xl lg:max-w-5xl xl:max-w-7xl md:max-w-3xl lg:px-6">
    <h1 class="text-2xl lg:text-4xl text-center font-bold font-heading mb-6 text-gray-400">Get <span class="text-emerald-500">In Touch</span></h1>
    <p class="font-normal text-lg text-center text-gray-500 tracking-normal mb-10 px-10">For enquiries please send email to: ask@farmis.ai
    </p>
    </div>
  </section>
 <!--footer-->
<app-footer></app-footer>
<!--footer-->