<footer class="bg-accent/50">
    <div class="w-11/12 md:w-2/3 px-4 py-8 mx-auto grid lg:grid-cols-3">
      <div class="flex flex-col lg:border-r lg:border-r-foreground/50 ">
        <div class="flex gap-2 items-center lg:justify-start justify-center">
          <a class="mb-4 mr-5 mt-3 flex justify-center items-center text-neutral-900 hover:text-neutral-900 focus:text-neutral-900  lg:mb-0 lg:mt-0"
          href="#">
          <img class="w-8 h-auto mx-auto" src="assets/farmis-logo-crown-dark.svg" alt="" />
          <img class="my-4 w-24 h-auto mx-auto ml-4" src="assets/farmis-text-dark.svg" alt="" />
        </a>
        </div>
        <p class="lg:w-5/6 mt-2 text-center lg:text-left max-w-sm text-sm lg:max-w-none mx-auto lg:mx-0">
          A digital agriculture information service for Papua New Guinea
        </p>
      </div>
      <div class="flex flex-col lg:border-r lg:border-r-foreground/50 items-center">
        <div class="flex gap-2 items-center">
          <p class="mt-8 lg:mt-4 font-bold text-lg">Explore</p>
        </div>
        <ul class="w-2/3 flex flex-col mt-2">
          <Button variant="link" asChild>
            <a href="/">App</a>
          </Button>
          <Button variant="link" asChild>
            <a href="/home">Documentation</a>
          </Button>
          <Button variant="link" asChild>
            <a href="/about">Features</a>
          </Button>
          <Button variant="link" asChild>
            <a href="/about">API</a>
          </Button>
        </ul>
      </div>
      <div class="flex flex-col items-center">
        <div class="flex gap-2 items-center mt-4">
          <div class="mb-3 flex justify-center">
            <a href="https://www.facebook.com/FARMISOfficial" target="_blank" class="mr-4 text-blue-600 rounded-full p-2 bg-gray-100">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-emerald-500 hover:text-blue-600" fill="currentColor"
                viewBox="0 0 24 24">
                <path
                  d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z" />
              </svg>
            </a>
            <a href="https://www.linkedin.com/showcase/farmisofficial/about/" target="_blank" class="mr-4 text-blue-600 rounded-full p-2 bg-gray-100">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-emerald-500 hover:text-blue-500" fill="currentColor"
                viewBox="0 0 24 24">
                <path
                  d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z" />
              </svg>
            </a>
            <a href="https://www.youtube.com/@farmisofficial" target="_blank"class="text-red-600 rounded-full p-2 bg-gray-100">
              <svg xmlns="http://www.w3.org/2000/svg"
                class="h-4 w-4 icon icon-tabler icon-tabler-brand-youtube-filled text-emerald-500 hover:text-red-500" width="24"
                height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path
                  d="M18 3a5 5 0 0 1 5 5v8a5 5 0 0 1 -5 5h-12a5 5 0 0 1 -5 -5v-8a5 5 0 0 1 5 -5zm-9 6v6a1 1 0 0 0 1.514 .857l5 -3a1 1 0 0 0 0 -1.714l-5 -3a1 1 0 0 0 -1.514 .857z"
                  stroke-width="0" fill="currentColor" />
              </svg>
            </a>
          </div>
        </div>
        <ul class=" flex flex-col mt-2">
          <Button variant="link" asChild>
            <a
              href="https://farmis.ai"
              target="_blank"
              class="flex items-center gap-2"
            >
              <p>www.farmis.ai</p>
          </a>
          </Button>
        </ul>
      </div>
    </div>
      <!--Copyright section-->
      <div class="w-full bg-neutral-100 text-xs font-light tracking-wide p-4 text-center text-gray-400 ">
        © 2023 Copyright -
        Powered by <a href="https://fpda.com.pg">Fresh Produce Development Agency -</a>
        Crafted for FPDA with 🔥 by <a href="https://glensea.com" target="_blank"> GlenH
        </a>
      </div>
  </footer>